# ==============================================
# Policy File of /system/binakmd09911 Executable File 


# ==============================================
# Type Declaration
# ==============================================

type akmd09911_exec , exec_type, file_type;
type akmd09911 ,domain;

# ==============================================
# Android Policy Rule
# ==============================================

# ==============================================
# NSA Policy Rule
# ==============================================

# ==============================================
# MTK Policy Rule
# ==============================================

#permissive akmd09911;
init_daemon_domain(akmd09911)
#unconfined_domain(akmd09911)
# Purpose : M-sensor daemon for access driver node
allow akmd09911 msensor_device:chr_file { open ioctl read write };
allow akmd09911 gsensor_device:chr_file { open ioctl read write };
allow akmd09911 input_device:dir { search open read write };
allow akmd09911 input_device:file { open read };
allow akmd09911 akmd8963_access_file1:file { open read write };
allow akmd09911 akmd8963_access_file2:file { open read write};
# Operate data partation directly, need modify later,e.g. use "data/misc/sensor".
# for msensor daemon access "data/misc".
file_type_auto_trans(akmd09911, system_data_file, msensor_data_file)
allow akmd09911 system_data_file:dir { create setattr };
allow akmd09911 msensor_data_file:file { open write read create setattr};

