# ==============================================
# Policy File of /system/bin/flashlessd Executable File 

type flashlessd_exec, exec_type, file_type;
type flashlessd, domain;


# permissive flashlessd;

init_daemon_domain(flashlessd)
