# ==============================================
# Policy File of /system/bin/ged_srv Executable File 

# ==============================================
# Type Declaration
# ==============================================
type ged_srv, domain;
type ged_srv_exec, exec_type, file_type;


# ==============================================
# MTK Policy Rule
# ==============================================
# Date : WK15.33
# Operation : New Daemon
# Purpose : Start ged_srv. ged_srv is a daemon to 
# recieve events to dynamically change 
# 1) vsync-offset 2) FPS 
# though binder to surfaceflinger

init_daemon_domain(ged_srv)

allow ged_srv servicemanager:binder call;
allow ged_srv surfaceflinger_service:service_manager find;
allow ged_srv debugfs:file {getattr read write ioctl open};
allow ged_srv surfaceflinger:binder call;

binder_use(init)
binder_use(ged_srv)

