# ==============================================
# MTK Policy Rule
# ============

# Date : WK14.40 2014/10/3
# Operation : keystore CTS 
# Purpose : Open MobiCore access permission for keystore CTS hardware-backed solution
allow keystore mobicore:unix_stream_socket { connectto read write };
allow keystore mobicore_user_device:chr_file { read write open ioctl};

# Date : WK14.40 2014/12/26
# Operation : CTS 5.0_r1 
# Purpose : allow access to /data/data/com.android.cts.security/cache/CTS_DUMP for full CTS
allow keystore app_data_file:file write;