# ==============================================
# Policy File of /system/binmatv Executable File 


# ==============================================
# Type Declaration
# ==============================================

type matv_exec , exec_type, file_type;
type matv ,domain;

# ==============================================
# Android Policy Rule
# ==============================================

# ==============================================
# NSA Policy Rule
# ==============================================

# ==============================================
# MTK Policy Rule
# ==============================================
binder_use(matv)

#permissive matv;
init_daemon_domain(matv)
#unconfined_domain(matv)
