# ==============================================
# Policy File of /system/binmc6420d Executable File 


# ==============================================
# Type Declaration
# ==============================================

type mc6420d_exec , exec_type, file_type;
type mc6420d ,domain;

# ==============================================
# Android Policy Rule
# ==============================================

# ==============================================
# NSA Policy Rule
# ==============================================

# ==============================================
# MTK Policy Rule
# ==============================================

#permissive mc6420d;
init_daemon_domain(mc6420d)
#unconfined_domain(mc6420d)
