# ==============================================
# Policy File of /system/binpoad Executable File 


# ==============================================
# Type Declaration
# ==============================================

type poad_exec , exec_type, file_type;
type poad ,domain;

# ==============================================
# Android Policy Rule
# ==============================================

# ==============================================
# NSA Policy Rule
# ==============================================

# ==============================================
# MTK Policy Rule
# ==============================================


init_daemon_domain(poad)

