# ==============================================
# Policy File of /system/binsn Executable File 


# ==============================================
# Type Declaration
# ==============================================

type sn_exec , exec_type, file_type;
type sn ,domain;

# ==============================================
# Android Policy Rule
# ==============================================

# ==============================================
# NSA Policy Rule
# ==============================================

# ==============================================
# MTK Policy Rule
# ==============================================

init_daemon_domain(sn)

# Date : WK14.31
# Operation : Migration
# Purpose : for L early bring up
allow sn sdcard_internal:dir search;
allow sn fuse:file { read getattr open };
allow sn sysfs:file write;
#allow sn tmpfs:lnk_file read;
allow sn self:capability { dac_read_search dac_override };
allow sn mnt_user_file:dir search;
allow sn mnt_user_file:lnk_file read;
#allow sn storage_file:dir search;
allow sn storage_file:lnk_file read;

