# ==============================================
# Policy File of /system/binthermald Executable File 


# ==============================================
# Type Declaration
# ==============================================

type thermald_exec , exec_type, file_type;
type thermald ,domain;

# ==============================================
# Android Policy Rule
# ==============================================

# ==============================================
# NSA Policy Rule
# ==============================================

# ==============================================
# MTK Policy Rule
# ==============================================

init_daemon_domain(thermald)

# Date : WK14.39
# Operation : SQC 
# Purpose : for thermal management to shutdown the phone
binder_use(thermald)
allow thermald proc_thermal:dir search;
allow thermald proc_thermal:file { read getattr open write };
allow thermald system_server:binder call;
allow thermald activity_service:service_manager find;


