# ==============================================
# MTK Policy Rule
# ==============================================


# Date : WK14.37
# Operation : Migration 
# Purpose : property
allow vdc vold_prop:property_service set;

# Date : WK14.53
# Purpose : dumpstate
allow vdc dumpstate:file read;

#fat on nand
allow vdc tmpfs:chr_file { read write getattr ioctl };
allow vdc fon_image_data_file:dir { search write add_name};
allow vdc fon_image_data_file:file create;
allow vdc fon_image_data_file:file { read write open };

